{{template "base" .}}

{{define "content"}}
<br><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Добро пожаловать в MyWallet!</h2>
                        <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <a href="http://localhost:8080/login" class="btn btn-info">Вход</a>
            </div>
            <div class="col">
                <a href="http://localhost:8080/signup" class="btn btn-info">Регистрация</a>
            </div>
    </div>
{{end}}
